@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;

  --color-background: #f8fafc;
  --color-background-alt: #f1f5f9;
  --color-surface: #ffffff;
  --color-surface-alt: #e2e8f0;

  --color-background-dark: #0f172a;
  --color-background-alt-dark: #1e293b;
  --color-surface-dark: #334155;
  --color-surface-alt-dark: #475569;
}

html,
body {
  background-color: var(--color-background);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-background-dark);
    color-scheme: dark;
  }
}
